* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

.mainbox {
  width: 1006px;
  /* height: 600px; will be removed later */
  background-color: white;
  border: 3px solid gray;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

/* The header section. */
header {
  width: 1000px;
  height: 200px;
  background-color: lightgreen;
}

/* The header is made up of a message bar and the banner image. */
.tophead {
  width: 1000px;
  height: 40px;
  background-color: white;
  border-bottom: 3px solid gray;
}

/* The navigation section. */

nav {
  width: 1000px;
  height: 50px;
  background-color: white;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}

/* The nav section will contain 2 divs. */

.navleft {
  width: 497px;
  height: 45px;
  background-color: rgb(230, 199, 230);
  float: left;
}

.navright {
  width: 497px;
  height: 45px;
  background-color: rgb(230, 199, 230);
  margin-left: 5px;
  float: right;
}

.progress-container {
  width: 100%;
  height: 5px;
  background-color: lightgray;
  position: relative;
  margin-top: 10px;
  border: 1px solid grey;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

main {
  width: 1000px;
  height: 625px;
  background-color: lightyellow;
}

/* The main section will contain 3 divs. */

.maintopleft {
  width: 490px;
  height: 300px;
  background-color: cyan;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  float: left;
}

.mainright {
  width: 490px;
  height: 610px;
  background-color: lightgray;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  float: right;
}

.mainbottomleft {
  width: 490px;
  height: 300px;
  background-color: lightseagreen;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  float: left;
}
footer {
  width: 1000px;
  height: 80px;
  background-color: black;
  border-top: 3px solid gray;
}
